* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.img-banner {
    width: 400px;
}

.img-legend {
    font-family: monospace;
    font-size: 4rem;
    color: #FFF;
}